<!-- START REQUESTER NAV -->
<nav *ngIf="viewType && callsMade" class="navbar navbar-expand-md navbar-light bg-faded">
    <a class="navbar-brand navy-text" [routerLink]="['/home', paramId]">
      <img alt="Truthy" src="./assets/images/logo-v1.png" height="35px" width="135px">
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <header class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <button class="btn" type="button" [routerLink]="['/checks', paramId ]">My Checks</button>
        </li>
        <li class="nav-item">
            <button class="btn" type="button" data-toggle="modal" data-target="#exampleModal">Add Funds</button>
        </li>
        <li class="nav-item">
            <button class="btn" type="button" [routerLink]="['/']">Logout</button>
        </li>
      </ul>
    </header>
</nav>
<!-- END REQUESTER NAV -->

<!-- START RESPONDER NAV -->
<nav *ngIf="!viewType && callsMade" class="navbar navbar-expand-md navbar-light bg-faded">
    <a class="navbar-brand navy-text" [routerLink]="['/home', paramId]">
      <img alt="Truthy" src="./assets/images/logo-v1.png" height="35px" width="135px">
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <header class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <button class="btn" type="button" [routerLink]="['/checks', paramId ]">My Checks</button>
        </li>
        <li class="nav-item">
          <button class="btn" type="button" [routerLink]="['/toolbox', userId ]">Toolbox</button>
        </li>
        <li class="nav-item">
            <button class="btn" type="button" [routerLink]="['/']">Logout</button>
        </li>
      </ul>
    </header>
</nav>
<!-- END RESPONDER NAV -->
 
<div *ngIf="viewType && callsMade" class="container-fluid">
  <div class="row">
    <div class="col-md-4">
        <h1 class="text-centered">
            Open:
        </h1>
          <table class="table interest-table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Request Body</th>
                  <th scope="col" class="class-number">Expiration Time</th>
                  <th scope="col" class="class-number">Price</th>
                  <th scope="col" class="class-number"></th>
                </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let row of openRequests">
                      <td>{{row.body}}</td>
                      <td>{{row.expiration | date}}</td>
                      <td>{{row.price}}</td>
                      <a [routerLink]="['/detail', paramId, row.id]" class="cancelBtn"><td><button type="button" class="btn btn-success">Info</button></td></a>
                  </tr>
              </tbody>
          </table>
    </div>
    <div class="col-md-4">
        <h1 class="text-centered">
            In Progress:
        </h1>
          <table class="table interest-table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Request Body</th>
                  <th scope="col" class="class-number">Expiration Time</th>
                  <th scope="col" class="class-number">Price</th>
                  <th scope="col" class="class-number"></th>
                </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let row of progressRequests">
                      <td>{{row.body}}</td>
                      <td>{{row.expiration | date}}</td>
                      <td>{{row.price}}</td>
                      <a [routerLink]="['/detail', paramId, row.id]" class="cancelBtn"><td><button type="button" class="btn btn-success">Info</button></td></a>
                  </tr>
              </tbody>
          </table>
    </div>
    <div class="col-md-4">
        <h1 class="text-centered">
            Completed:
        </h1>
          <table class="table interest-table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Request Body</th>
                  <th scope="col" class="class-number">Expiration Time</th>
                  <th scope="col" class="class-number">Price</th>
                  <th scope="col" class="class-number"></th>
                </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let row of completeRequests">
                      <td>{{row.body}}</td>
                      <td>{{row.expiration | date}}</td>
                      <td>{{row.price}}</td>
                      <a [routerLink]="['/detail', paramId, row.id]" class="cancelBtn"><td><button type="button" class="btn btn-success">Info</button></td></a>
                  </tr>
              </tbody>
          </table>
    </div>
  </div>
</div>

<div *ngIf="!viewType && callsMade" class="container">
    <div class="row">
      <div class="col-md-6">
          <h1 class="text-centered">
              In Progress:
          </h1>
            <table class="table interest-table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Request Body</th>
                    <th scope="col" class="class-number">Expiration Time</th>
                    <th scope="col" class="class-number">Price</th>
                    <th scope="col" class="class-number"></th>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of progressRequests">
                        <td>{{row.body}}</td>
                        <td>{{row.expiration | date}}</td>
                        <td>{{row.price}}</td>
                        <a [routerLink]="['/detail', paramId, row.id]" class="cancelBtn"><td><button type="button" class="btn btn-success">Info</button></td></a>
                    </tr>
                </tbody>
            </table>
      </div>
      <div class="col-md-6">
          <h1 class="text-centered">
              Completed:
          </h1>
            <table class="table interest-table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Request Body</th>
                    <th scope="col" class="class-number">Expiration Time</th>
                    <th scope="col" class="class-number">Price</th>
                    <th scope="col" class="class-number"></th>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of completeRequests">
                        <td>{{row.body}}</td>
                        <td>{{row.expiration | date}}</td>
                        <td>{{row.price}}</td>
                        <a [routerLink]="['/detail', paramId, row.id]" class="cancelBtn"><td><button type="button" class="btn btn-success">Info</button></td></a>
                    </tr>
                </tbody>
            </table>
      </div>
    </div>
  </div>

<!-- START REQUESTER MODAL -->
<div *ngIf="viewType && callsMade" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-light">
          <h5 class="modal-title" id="exampleModalLabel">Add Funds</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form name="requestForm">
              <div class="form-group">
                <h6><i>Current Balance: $5.45</i></h6>
                <label for="fundingAmount" class="col-form-label">Amount:</label>
                <input [(ngModel)]="fundingAmount" type="text" class="form-control" id="fundingAmount" aria-describedby="fundingAmount" placeholder="$20.00" name="fundingAmount">
              </div>
              <div class="form-group text-centered">
                <button type="submit" class="btn submit-request-btn" (click)="submitLogin()" [routerLink]="['/home', paramId]">Submit</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
<!-- END REQUESTER MODAL -->