<!-- START REQUESTER NAV -->
<nav *ngIf="viewType && callsMade" class="navbar navbar-expand-md navbar-light bg-faded">
    <a class="navbar-brand navy-text" [routerLink]="['/home', paramId]">
      <img alt="Truthy" src="./assets/images/logo-v1.png" height="35px" width="135px">
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <header class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <button class="btn" type="button" [routerLink]="['/checks', paramId ]">My Checks</button>
        </li>
        <li class="nav-item">
            <button class="btn" type="button" data-toggle="modal" data-target="#exampleModal">Add Funds</button>
        </li>
        <li class="nav-item">
            <button class="btn" type="button" [routerLink]="['/']">Logout</button>
        </li>
      </ul>
    </header>
</nav>
<!-- END REQUESTER NAV -->

<!-- START RESPONDER NAV -->
<nav *ngIf="!viewType && callsMade" class="navbar navbar-expand-md navbar-light bg-faded">
    <a class="navbar-brand navy-text" [routerLink]="['/home', paramId]">
      <img alt="Truthy" src="./assets/images/logo-v1.png" height="35px" width="135px">
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <header class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <button class="btn" type="button" [routerLink]="['/checks', paramId ]">My Checks</button>
        </li>
        <li class="nav-item">
            <button class="btn" type="button" [routerLink]="['/toolbox', paramId ]">Toolbox</button>
          </li>
        <li class="nav-item">
            <button class="btn" type="button" [routerLink]="['/']">Logout</button>
        </li>
      </ul>
    </header>
</nav>
<!-- END RESPONDER NAV -->

<!-- START REQUESTER HOME -->
<div *ngIf="viewType && callsMade" class="Aligner home-aligner">
  <div *ngIf='!showSubmitMessage' class="Aligner-item home-aligner-item">
    <h1 class="text-centered">
      Fact check anything
    </h1> 
      <form name="requestForm">
        <div class="form-group">
          <label for="requestStatement" class="col-form-label">Statement to check:</label>
          <input [(ngModel)]="statement" type="text" class="form-control" id="requestStatement" aria-describedby="requestHelp" placeholder="The sky is blue" name="statement">
        </div>
        <div class="form-group">
          <label for="requestExpiry" class="col-form-label">Expiry time:</label>
          <input [(ngModel)]="expiry" type="date" class="form-control" id="requestExpiry" placeholder="01/01/2020" name="expiry">
        </div>
        <div class="form-group">
           <label for="requestPrice" class="col-form-label">Price:</label>
          <input [(ngModel)]="price" type="text" class="form-control" id="requestPrice" placeholder="5.50" name="expiry">
         </div>
         <div class="form-group text-centered">
            <button type="submit" class="btn submit-request-btn" (click)="addRequest()">Submit</button>
         </div>
      </form>
  </div>
  <div *ngIf='showSubmitMessage' class="Aligner-item home-aligner-item">
    <h1 class="text-centered">
      Thank you!
      <button type="submit" class="btn submit-request-btn" (click)="formReset()">Submit another request</button>
    </h1> 
  </div>
</div>
<!-- END REQUESTER BLOCK -->

<!-- START RESPONDER HOME -->
<div *ngIf="!viewType && callsMade" class="Aligner home-aligner">
    <div class="Aligner-item home-aligner-item-responder">
      <h1 class="text-centered">
        Current Requests:
      </h1>
      <table class="table interest-table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Request Body</th>
              <th scope="col" class="class-number">Expiration Time</th>
              <th scope="col" class="class-number">Price</th>
              <th scope="col" class="class-number"></th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let row of requestRows">
                  <td>{{row.body}}</td>
                  <td>{{row.expiration | date}}</td>
                  <td>{{row.price}}</td>
                  <a [routerLink]="['/detail', row.id]" class="cancelBtn"><td><button type="button" class="btn btn-success">Info</button></td></a>
                </tr>
          </tbody>
          </table>
    </div>
  </div>
  <!-- END RESPONDER BLOCK -->

<!-- START REQUESTER MODAL -->
<div *ngIf="viewType && callsMade" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-light">
          <h5 class="modal-title" id="exampleModalLabel">Add Funds</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form name="requestForm">
              <div class="form-group">
                <h6><i>Current Balance: $5.45</i></h6>
                <label for="fundingAmount" class="col-form-label">Amount:</label>
                <input [(ngModel)]="fundingAmount" type="text" class="form-control" id="fundingAmount" aria-describedby="fundingAmount" placeholder="$20.00" name="fundingAmount">
              </div>
              <div class="form-group text-centered">
                <button type="submit" class="btn submit-request-btn" (click)="submitLogin()" [routerLink]="['/home', paramId]">Submit</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
<!-- END REQUESTER MODAL -->

