<nav class="navbar navbar-expand-md navbar-light bg-faded">
  <a class="navbar-brand navy-text" [routerLink]="['/']">
    <img alt="Truthy" src="./assets/images/logo-v1.png" height="35px" width="135px">
  </a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <header class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <button class="btn login-btn" type="submit" [routerLink]="['/login']">Login</button>
      </li>
    </ul>
  </header>
</nav>
