.login-aligner {
    height: 85vh;
  }
.login-aligner-item {
    min-height: 30%;
    width: 30%;
}
  
.login-card {
    background: #fafafa;
}
    
.submit-login-btn {
    background: rgb(43, 182, 115);
    color: #FFFFFF;
}
  
.submit-login-btn:hover {
    background: #2C7043;
    color: #FFFFFF;
}