@font-face {
    font-family: "Open Sans";
    src: url("/assets/fonts/OpenSans-Regular.tff")format("truetype")
  }

body {
    font-family: Open Sans;
    /* background-image: url("/assets/images/open-book.png"); */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    /* margin-top: 2%; */
}

.text-centered {
    text-align: center;
}

.white-color-text a {
    color: white !important;
}

.no-decoration a {
    text-decoration: none !important;
}

.Aligner {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.Aligner-item {
    max-width: 60%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5vh; /* Set the fixed height of the footer here */
    line-height: 5vh; /* Vertically center the text there */
    /* background-color: #e6e5e1; */
    text-align: center;
    color: #000000;
  }